.result-toolbar {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    margin: auto;
    padding: 0 10px 0 10px;
}

.result-toolbar .important-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


.result-toolbar .important-container .input {
    height: calc(39px - 2px);
    background-color: var(--app-main-theme-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0);
    position:relative;
}

.result-toolbar .important-container .input .hide_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 10px);
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    position:absolute;
    right:0;top:0;bottom:0;margin:auto;
}

.result-toolbar .important-container .input .hide_button:hover {
    background-color: var(--app-main-theme-background-darker-2);
}

.result-toolbar .important-container .input .hide_button svg {
    width: 25px;
    height: 25px;
}

.result-toolbar .main-search-bar {
    border:none;
    padding: 2px 10px 2px 10px;
    height: calc(39px - 4px - 2px);
    outline:none;
    font-size: 16px;
    border-radius: 10px;
    width: 50vh;
    transition: 0.3s;
    background-color: var(--app-main-theme-background);
}

.result-toolbar .input:focus {
    border: 1px solid var(--app-main-theme-tone)
}
