body {
    margin:0;
    font-family: 'Rethink Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.toolsbar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--app-main-theme-background);
}

.toolsbar .left-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.toolsbar svg {
    height: 5vh;
    width: fit-content;
}


.toolsbar .save-update.active {
    opacity: 1;
}
.toolsbar .save-update {
    display: flex;
    flex-direction: row;
    gap: 15px;
    opacity: 0;
    transition: 0.3s;
    align-items: center;
}

.toolsbar .save-update svg {
    width: 25px;
    height: 25px;
}